<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Positions</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="QB">Quarterbacks</a>
      <a mat-list-item href="RB">Running Backs</a>
      <a mat-list-item href="WR">Wide Recievers</a>
      <a mat-list-item href="TE">Tight Ends</a>
      <a mat-list-item href="IOL">Inside Off. Linemen</a>
      <a mat-list-item href="OT">Offenvive Tackles</a>
      <a mat-list-item href="E">Edges</a>
      <a mat-list-item href="IDL">Inside Def. Linemen</a>
      <a mat-list-item href="LB">Linebackers</a>
      <a mat-list-item href="CB">Cornerbacks</a>
      <a mat-list-item href="S">Safeties</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>NFL 2020 Draft Class</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
